body{
  max-width: 1500px;
  margin: 0;
  padding:0;
  background-color: #F2F1E8;
}

.header{
  display:flex;
  align-items: center;
  background-color: white;
  justify-content: flex-start;
  width: 100%;
  position:fixed;
}

.nav_tags{
  display:flex;
  align-content: center;
  margin-left: 375px;
  padding: 20px;
  text-transform: uppercase;
  justify-content: space-between;
}

.nav_tags a{
  display: flex;
  justify-content: space-between;
  color: #2B2F26;
  font-family: "Roboto";
  font-size: 20pt;
}

.nav_tags a:hover{
  color: #CD5D67;
}

.link{
  margin: 10px;
}

.text{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Merriweather";
  background-color: #F2F1E8;
  margin: 0;
}

#Bent{
  font-size: 60pt;
  font-weight: 200;
  margin: 10px;
  margin-top: 150px;
}

#nature{
  font-size: 40pt;
  font-weight: 200;
  margin: 10px;
}


h3{
  background-color: #2B2F26;
  font-family: "Merriweather";
  font-weight: 200;
  margin-left: 0;
  margin-top: 200px;
  padding: 20px;
  float: left;
}

.first_row_pictures{
  display:flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  margin: 0px;
  align-items: flex-end;
  font-family: "Merriweather";
  padding:10px;
  background-color: #F2F1E8;
  }

#succulant{
  background-image: url("images/product-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px;
  margin-right: 10px;
  width: 60%;
  height:400px;
  }

#bowls{
  background-image: url("images/product-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px;
  width: 20%;
  height: 400px;
}

#tray{
  background-image: url("images/product-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px;
  margin-left: 10px;
  width: 20%;
  height: 400px;
}

.second_row_pictures{
  display:flex;
  flex-direction: row;
  color: white;
  align-items: flex-end;
  margin: 0px;
  background-color: #F2F1E8;
  padding: 10px;
}

#mug{
  background-image: url("images/product-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px;
  width: 20%;
  height: 300px;
  }

#jug{
  background-image: url("images/product-5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px;
  width: 20%;
  height: 300px;
  margin: 0px 5px;
}

#pitcher{
  background-image: url("images/product-6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 5px;
  width: 40%;
  height: 300px;
  margin-right: 10px;
}
#saucer{
  background-image: url("images/product-7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px;
  width: 20%;
  height: 300px;
}

.footer{
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #2B2F26;
  font-family: "Merriweather";
  font-weight: 200;
  color: white;
  margin: 0;
  padding-left: 25px;
}
